# Python & Môi trường ảo
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Visual Studio & VS Code
.vs/
.vscode/
*.suo
*.user
*.userossc
*.sln.docstates

# File video nặng trong folder data (giữ lại ảnh vệ tinh)
data/*.mp4
data/*.avi
data/*.mkv
data/*.mov

# Trọng số mô hình AI nặng (Tránh đẩy file weights lớn lên Git)
weights/*.pt
weights/*.onnx
weights/*.engine
*.weights

# System files
.DS_Store
Thumbs.db